
<!--搜索区域-->
<div class="search-box">
      uid: <input [(ngModel)]="find.uid" />
      手机:<input [(ngModel)]="find.mobile" />
      订单号:<input [(ngModel)]="find.orderId"/>
      状态:<select id =  "sel" [(ngModel)]="find.state">
        <option  value = "" >全部</option>
        <option  value = "10" >等待匹配</option>
        <option  value = "20" >等待确认打款</option>
        <option  value = "30" >支付保证金</option>
        <option  value = "50" >等待确认收款</option>
        <option  value = "60" >交易成功</option>
        <option  value = "70" >交易失败</option>
          </select>
      交易时间:<input [(ngModel)]="find.startTime" type="date"/>-<input [(ngModel)]="find.endTime" type="date" />
      <button type="button" class="btn btn-primary" (click)='loadDataOne()'>搜索</button>
</div>

<!--按钮区域-->
<div class="button-box text-right">

</div>

<!--数据显示区域-->
<div class="table-box">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th>订单号</th>
                <th>uid</th>
                <th>昵称</th>
                <th>手机</th>
                <th>交易金额</th>
                <th>线下支付</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>匹配订单</th>
                <th>最后操作时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of httpService.items; let i = index">
              <td>{{item.orderId}}</td>
              <td>{{item.uid}}</td>
              <td>{{item.nickName}}</td>
              <td>{{item.mobile}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.rmbAmount}}</td>
              <td>{{utils.formatDate(item.createTime,'yyyy-MM-dd HH:mm:ss')}}</td>
              <td>{{item.transactionState=="10"?"等待匹配":
                    item.transactionState=="20"?"等待确认打款":
                    item.transactionState=="30"?"支付保证金":
                    item.transactionState=="40"?"线下支付成功":
                    item.transactionState=="50"?"等待确认收款":
                    item.transactionState=="60"?"交易成功":
                    item.transactionState=="70"?"交易失败":"其他"}}</td>
              <td>
                <button type="button" *ngIf="item.transactionState!=20&&item.transactionState!=10"(click)="Goto(item)" class="btn btn-info btn-xs">{{item.targetOrder}}</button>
              </td>
              <td>{{utils.formatDate(item.flowTime,'yyyy-MM-dd HH:mm:ss')}}</td>
              <td>
                <button type="button" *ngIf="item.isDispute" (click)="showEdit(item)" class="btn btn-info btn-xs">处理纠纷</button>
              </td>
            </tr>
        </tbody>
    </table>
</div>

<!--分页区域-->
<div class="pagination-box text-center">
    <ul class="pagination">
        <li [class]="httpService.currentPage==1?'active':''">
            <a href="javascript:;" (click)="httpService.toFirstPage()">首页</a>
        </li>
        <li [class]="httpService.currentPage==1?'disabled':''">
            <a href="javascript:;"  (click)="httpService.prev()">上一页</a>
        </li>
        <li class="disabled"><a href="javascript:;">第{{httpService.currentPage}}页 | 共{{httpService.totalPage}}页</a></li>
        <li [class]="httpService.currentPage==httpService.totalPage?'disabled':''">
            <a href="javascript:;" (click)="httpService.next()">下一页</a>
        </li>
        <li [class]="httpService.currentPage==httpService.totalPage?'active':''">
            <a href="javascript:;" (click)="httpService.toEndPage()">末页</a>
        </li>
    </ul>
</div>

<!--编辑页面-->
<div id="editPanel" class="form-horizontal">
    <div class="form-group">
      <label class="box-label">订单信息</label><br>
      <div class="span-div">
        <span>充值订单号:{{judge.orderId}}</span>
        <span>充值会员:{{judge.nickName}}({{judge.uid}})</span><br>
        <span>提现订单号:{{judge.targetOrder}}</span>
        <span>提现会员:{{judge.targetnickName}}({{judge.targetuid}})</span><br>
        <span>订单金额:{{judge.amount}}(RMB:{{judge.rmbAmount}})</span>
        <span>订单状态:{{judge.transactionState=="10"?"等待匹配":
              judge.transactionState=="20"?"等待确认打款":
              judge.transactionState=="30"?"支付保证金":
              judge.transactionState=="40"?"线下支付成功":
              judge.transactionState=="50"?"等待确认收款":
              judge.transactionState=="60"?"交易成功":
              judge.transactionState=="70"?"交易失败":"其他"}}</span>
      </div>
      <label class="box-label">请选择纠纷类型</label>
        <div>
          <div class="statistics-radio">
            <label class="radio-inline">
              <input type="radio" value="{{judge.userId}}" [(ngModel)]="orderType">{{judge.nickName}}({{judge.uid}})没有线下 打款，但是点击了确认打款
            </label><br>
            <label class="radio-inline" *ngIf="judge.transactionState==50">
              <input type="radio" value="{{judge.targetuserid}}" [(ngModel)]="orderType">{{judge.targetnickName}}({{judge.targetuid}})收到线下打款，但是没有点击确认收款
            </label>
          </div>
        </div>
    </div>
</div>
