.bg{
    position: absolute;
    left: 0;
    top:0;
    overflow: auto;
    width:1700px;
    // height:1380px; //加上订单详情记录时的长度
    height:1280px;
    z-index: 1;
    margin-top:-25px;
    padding: 20px;
    background-color:#e6e5de;
    // background-image: url("/assets/pkImg/pkbg.png");
    // background-repeat:no-repeat;
}

//变换颜色
.numberColor{
    color:#f51d07;
    font-weight:bold;
    font-family:Verdana;
}

.title-div{
    height:100px;
    padding-top: 20px;
    //margin-left:175px;
    margin-bottom:40px;
    .row-tab_1{
      background-color: rgba(0,0,0,0.5);
      width:150px;
      height:100px;
      border: 1px solid #32E5E5;
      line-height:80px;
      border-top-left-radius:25px;
      border-bottom-left-radius:25px;
      display:inline-block;
      margin-left:100px;
      float: left;
    }

    .row-tab_2{
        background-color: rgba(0,0,0,0.5);
        width:360px;
        height:100px;
        border: 1px solid #32E5E5;
        border-left:none;
        line-height:100px;
        border-top-right-radius:25px;
        border-bottom-right-radius:25px;
        display:inline-block;
        float: left;

        .row-tab_2_1{
            float: left;
            width:130px;
            height: 50px;
            margin-top:-15px;
            //margin-left:30px;
            display:inline-block;
        }

        .row-tab_2_2{
            float: left;
            width:150px;
            height: 49px;
            background-image: url("/assets/img/fengpanshijian.png");
            background-repeat:no-repeat;
            margin-top: 22px;
        }

        .row-tab_2_3{
            float: left;
            width:100px;
            height: 49px;
        }

        .row-tab_2_4{
            float: left;
            width:160px;
            height: 49px;
            background-image: url("/assets/img/kaijiangshijian.png");
            background-repeat:no-repeat;
            margin-top: 22px;
            margin-left:-20px;
        }

    }

    .row-tab_3{
        background-color: rgba(0,0,0,0.5);
        width:500px;
        height:100px;
        border: 1px solid #32E5E5;
        line-height:100px;
        border-radius:25px;
        display:inline-block;
        margin-left:20px;
        float: left;

        .row-tab_3_1{
            float: left;
            width:150px;
            height: 50px;
            margin-top:-15px;
            // margin-left:10px;
            display:inline-block;
        }

        .row-tab_3_2{
            float: left;
            height: 52px;
            display:inline-block;
            margin-left:3px;
            .row-tab_3_2_1{
              float: left;
              width:32px;
              height:52px;
              margin-left:-6px;
              display:inline-block;
            }

            .row-tab_3_2_2{
                float: left;
                width:80px;
                height:42px;
                margin-top: 20px;
                display:inline-block;
            }
        }
    }
}

.content-div{
    clear: both;
    float: left;
    width:1150px;
    // height:1200px; //加上订单详情记录时的长度
    height:1080px;     //未加上订单详情记录时的长度
    //margin-left:-120px;
    border: 1px solid #32E5E5;
    border-radius:25px;

    //定位组
    .content-tab_1{
        margin-bottom:25px;
        .content-tab_1_1{
          width:70px;
          height:30px;
          text-align: center;
          line-height:30px;
          color: white;
          margin-top:10px;
          margin-left:-1030px;
          background-color: #0ED2AF;
        }

        hr{
          width:1100px;
          margin-top:0px;
          border:0.5px solid #0ED2AF;
        }

        .content-tab_1_2{
          margin-top:-15px;
          margin-left:-730px;
          color: #e81010;
          font-size:12px;
        }
    }

    //投注号码
    .content-tab_2{
        margin-top: 40px;
        .content-tab_2_1{
            width:1150px;
            height:60px;
            margin-left:25px;
            margin-top:-20px;
            .diwei{
              width:100px;
              height: 38px;
              float: left;
              color:white;
              font-size:18px;
              line-height:34px;
              display:inline-block;
              background-image: url("/assets/pkImg/dingwei.png");
              background-repeat:no-repeat;
            }

            .haoma{
                margin-left:80px;
                .one,.two,.three,.four,.five,.six,.seveen,.eight,.nine,.ten{
                    width:42px;
                    height:42px;
                    float: left;
                    margin-top:-5px;
                    margin-left:38px;
                    line-height:40px;
                    font-size: 24px;
                    color:#838383;
                    display:inline-block;
                    background-image: url("/assets/pkImg/haoma_yellow.png");
                    background-repeat:no-repeat;
                    cursor: pointer;
                }
            }
        }
    }

    //输入倍数
    .content-tab_3{
        clear: both;
        width:1100px;
        height:40px;
        margin-top:10px;
        background-image: url("/assets/img/shurubeishu.png");
        background-repeat:no-repeat;

        .content-tab_3_1{
            float: left;
            color: white;
            line-height:40px;
            margin-left:10px;
        }

        .shurukuang{
            width:60px;
            height:20px;
            float: left;
            margin-top:10px;
            margin-left:10px;
            line-height:20px;
            color: white;
            display:inline-block;
            border: 1px solid #01CEF2;
            border-radius:25px;
        }

        .content-tab_3_2{
          float: left;
          width:130px;
          height:35px;
          color: #789A42;
          line-height:25px;
          margin-top:6px;
          margin-left:30px;
          display:inline-block;
          background-image: url("/assets/img/addhaoma.png");
          background-repeat:no-repeat;
          cursor: pointer;
        }
    }

    // 投注列表
    .content-tab_4{
        width:1150px;
        height:400px;
        .content-tab_4_1{
            clear: both;
            float: left;
            .content-tab_4_1_1{
              border: 1px solid #32E5E5;
              border-radius:25px;
              margin-left:25px;
              margin-top: 20px;
              height:380px;
              overflow-y: auto;
              .touzhu_table{
                color: #6b4040;
                th{
                  width:50px;
                  height:35px;
                  text-align: center;
                }
                td{
                  height:35px;
                  text-align: center;
                  color: #dad0d0;
                  font-weight:bold;
                  font-family:Verdana;
                }
              }
            }
        }

        .content-tab_4_2{
            float: left;
            .content-tab_4_2_1{
              width:180px;
              height:40px;
              color: white;
              font-size: 18px;
              line-height: 40px;
              margin-top: 150px;
              margin-left:-200px;
              border-radius:80px;
              background-color: #1FA0AE;
              cursor: pointer;
            }
            .content-tab_4_2_2{
              width:180px;
              height:40px;
              color: white;
              font-size: 18px;
              line-height: 40px;
              margin-left:25px;
              margin-top: 30px;
              border-radius:80px;
              display:inline-block;
              background-color: #0ED2AF;
              cursor: pointer;
            }
            .content-tab_4_2_3{
              clear: both;
              width:180px;
              height:40px;
              color: white;
              font-size: 18px;
              line-height: 40px;
              margin-left:35px;
              margin-top: 30px;
              display:inline-block;
              cursor: pointer;
            }
        }
    }

    //订单记录
    .content-tab_5{
        // border: 1px solid #32E5E5;
        clear: both;
        float: left;
        margin-left:28px;
        margin-top: -20px;
        width:1100px;
        height:220px;
        .content-tab_5_1{
          clear: both;
          float: left;
          width:70px;
          height:30px;
          text-align: center;
          line-height:30px;
          color: white;
          cursor:pointer;
          margin-top:10px;
          display:inline-block;
          // background-color: #0ED2AF;
        }
        .content-tab_5_2{
          float: left;
          width:70px;
          height:30px;
          text-align: center;
          line-height:30px;
          color: white;
          cursor:pointer;
          margin-top:10px;
          margin-left:10px;
          display:inline-block;
          background-color: #0ED2AF;
        }

        .content-tab_5_3{
            clear: both;
            float: left;
            border: 1px solid #32E5E5;
            height:240px;
            overflow-y: auto;
            .order_table{
              color: white;
              th{
                width:180px;
                height:35px;
                text-align: center;
              }
              td{
                height:35px;
                text-align: center;
              }
            }
        }

        .content-tab_5_4{
            clear: both;
            float: left;
            border: 1px solid #32E5E5;
            height:240px;
            overflow-y: auto;
            .order_table{
              color: white;
              th{
                width:180px;
                height:35px;
                text-align: center;
              }
              td{
                height:35px;
                text-align: center;
              }
            }
        }

    }
}

.saicheshiping{
    clear: both;
    display: none;
    .flag{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index:7;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
    }

    .shiping{
        position: fixed;
        top: 150px;
        left: 25%;
        z-index:8;
        width: 1000px;
        height:700px;
        border: 1px solid green;
        background-color: #76E3FA;
        .closeGame{
            position: absolute;
            top: 0px;
            left:96%;
            z-index:9;
            cursor: pointer;
        }
        .pkshiping{
            margin-top:40px;
            margin-left:25px;
            width:945px;
            height: 630px;
        }
    }
}

.betRacing_vague{
    clear: both;
    display: none;
    .promptRacing{
        position: absolute;
        top: 33%;
        left: 20%;
        z-index:6;
        width: 300px;
        height: 50px;
        text-align: center;
        font-family:cursive;
        padding-top:0.3%;
        font-size: 27px;
        color: red;
        background-color: rgba(0,0,0,.7);
    }
    .promptRacing_1{
        position: absolute;
        top: 33%;
        left: 37.5%;
        z-index:6;
        cursor: pointer;
    }
    .flag{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index:5;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
    }
}
