
<!--搜索区域-->
<div class="search-box">
      订单号: <input [(ngModel)]="find.id" style="width: 170px" />
      uid: <input [(ngModel)]="find.uid" />
      手机:<input [(ngModel)]="find.mobile"  style="width: 130px"/>
      订单状态:<select  [(ngModel)]="find.state" style="width: 120px" >
                <option  value="">全部</option>
                <option  value="10">进行中</option>
                <option  value="20">已完成</option>
                <option  value="30">撤销</option>
      </select>
      币种类型:<select  [(ngModel)]="find.currencyId" style="width: 120px" >
                <option  value="">全部</option>
                <option  *ngFor="let b of currencyTypes" value="{{b.id}}">{{b.currencyName}}</option>
      </select>
      交易时间:<input [(ngModel)]="find.startTime" type="date"/>-<input [(ngModel)]="find.endTime" type="date" />
      <button type="button" class="btn btn-primary" (click)='loadDataOne()'>搜索</button>
</div>

<!--按钮区域-->
<div class="button-box text-right">

</div>

<!--数据显示区域-->
<div class="table-box">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th width="17%">订单号</th>
                <th>uid</th>
                <th>手机</th>
                <th>币种类型</th>
                <th>当前价格</th>
                <th>出售价格</th>
                <th>出售数量</th>
                <th>已出售数量</th>
                <th>订单类型</th>
                <th>订单详情</th>
                <th>创建时间</th>
                <th>订单状态</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of httpService.items; let i = index">
                <td>{{item.id}}</td> 
                <td>{{item.uid}}</td>
                <td>{{item.mobile}}</td>
                <th>{{item.currencyName}}</th>
                <td>{{item.currentPrice}}</td>
                <td>{{item.salePrice}}</td>
                <td>{{item.saleNumber}}</td>
                <td>{{item.alreadySoldNumber}}</td>
                <td>{{item.orderType==10?"买入":"卖出"}}</td>
                <td><a *ngIf="item.alreadySoldNumber > 0" style="color: red" (click)="orderhref(item.id)">查看</a></td>
                <td>{{utils.formatDate(item.createTime,'yyyy-MM-dd HH:mm:ss')}}</td>
                <td>
                    <span *ngIf="item.state == 10" >进行中</span>
                    <span *ngIf="item.state == 20" >已完成</span>
                    <span *ngIf="item.state == 30" >撤销</span>
                </td>
                <td>{{item.remark}}</td>
                
            </tr>
        </tbody>
    </table>
</div>

<!--分页区域-->
<div class="pagination-box text-center">
    <ul class="pagination">
        <li [class]="httpService.currentPage==1?'active':''">
            <a href="javascript:;" (click)="httpService.toFirstPage()">首页</a>
        </li>
        <li [class]="httpService.currentPage==1?'disabled':''">
            <a href="javascript:;"  (click)="httpService.prev()">上一页</a>
        </li>
        <li class="disabled"><a href="javascript:;">第{{httpService.currentPage}}页 | 共{{httpService.totalPage}}页</a></li>
        <li [class]="httpService.currentPage==httpService.totalPage?'disabled':''">
            <a href="javascript:;" (click)="httpService.next()">下一页</a>
        </li>
        <li [class]="httpService.currentPage==httpService.totalPage?'active':''">
            <a href="javascript:;" (click)="httpService.toEndPage()">末页</a>
        </li>
    </ul>
</div>
