<div class="bg_timeLottery">
  <div class="all-div_timeLottery" align="center">
    <div class="title-div_timeLottery">
        <div class="row-tab_1">
          <img src="/assets/img/shishicailogo.png"/>
        </div>

        <div class="row-tab_2">
            <div class="row-tab_2_1">
                <p style="color:#f6e404;" *ngIf="currentIssuNo">第{{currentIssuNo}}期</p>
                <p style="margin-top:-85px;margin-left:55px;color:white;">离封盘时间</p>
            </div>
            <div class="row-tab_2_2">
                <div style="color:white;font-size:36px;margin-top:-25px;">0<span ng-app="">{{fengpan_feng}}</span> : <span ng-app=""><span *ngIf="fengpan_miao < 10">0</span>{{fengpan_miao}}</span></div>
            </div>
            <div class="row-tab_2_3">
                <p style="color:white;margin-top:10px;">开奖时间</p>
            </div>
            <div class="row-tab_2_4">
                <div style="color:white;font-size:36px;margin-top:-25px;"><span *ngIf="openTime">{{ openTime | date:'HH' }}</span> : <span *ngIf="openTime">{{ openTime | date:'mm'}}</span></div>
            </div>
        </div>

        <div class="row-tab_3">
            <div class="row-tab_3_1">
                <p style="color:#B6C0B2;" *ngIf="preIssuNo">第{{preIssuNo}}期</p>
                <p style="margin-top:-85px;margin-left:65px;color:white;">开奖号码</p>
            </div>
            <div class="row-tab_3_2" *ngIf="lotteryList">
                <div class="row-tab_3_2_1" style="margin-left:130px;">
                  <div style="color:black;font-size:24px;margin-top:-30px;">{{lotteryList[0]}}</div>
                </div>
                <div class="row-tab_3_2_1">
                  <div style="color:black;font-size:24px;margin-top:-30px;">{{lotteryList[1]}}</div>
                </div>
                <div class="row-tab_3_2_1">
                  <div style="color:black;font-size:24px;margin-top:-30px;">{{lotteryList[2]}}</div>
                </div>
                <div class="row-tab_3_2_1">
                  <div style="color:black;font-size:24px;margin-top:-30px;">{{lotteryList[3]}}</div>
                </div>
                <div class="row-tab_3_2_1">
                  <div style="color:black;font-size:24px;margin-top:-30px;">{{lotteryList[4]}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-div_timeLottery">

        <!-- 定位组 -->
        <div class="content-tab_1">
            <span class="content-tab_1_1" (click)="betCategory($event,2)">一字定</span>
            <span class="content-tab_1_2" (click)="betCategory($event,3)">二字定</span>
            <span class="content-tab_1_3" (click)="betCategory($event,4)">快打</span>
            <span class="content-tab_1_4" (click)="betCategory($event,5)">时时彩规则</span>
            <hr />
        </div>

        <!-- 一字定页面 -->
        <div class="content-tab_2">
            <table class="touzhu_table">
                  <thead>
                      <tr>
                          <th>口XXXX</th>
                          <th>X口XXX</th>
                          <th>XX口XX</th>
                          <th>XXX口X</th>
                          <th>XXXX口</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr style="cursor:pointer;" *ngFor="let haoma of haomas; let i = index">
                          <td flag="1" (click)="betTimeLotteryOne($event,0,haoma)" style="font-weight:bold;"><span style="margin-left:20px;"></span>{{haoma}}XXXX<span style="margin-left:120px;color:red;font-weight:bold;">{{timeLotteryOdds_1}}</span></td>
                          <td flag="1" (click)="betTimeLotteryOne($event,1,haoma)" style="font-weight:bold;"><span style="margin-left:20px;"></span>X{{haoma}}XXX<span style="margin-left:120px;color:red;font-weight:bold;">{{timeLotteryOdds_1}}</span></td>
                          <td flag="1" (click)="betTimeLotteryOne($event,2,haoma)" style="font-weight:bold;"><span style="margin-left:20px;"></span>XX{{haoma}}XX<span style="margin-left:120px;color:red;font-weight:bold;">{{timeLotteryOdds_1}}</span></td>
                          <td flag="1" (click)="betTimeLotteryOne($event,3,haoma)" style="font-weight:bold;"><span style="margin-left:20px;"></span>XXX{{haoma}}X<span style="margin-left:120px;color:red;font-weight:bold;">{{timeLotteryOdds_1}}</span></td>
                          <td flag="1" (click)="betTimeLotteryOne($event,4,haoma)" style="font-weight:bold;"><span style="margin-left:20px;"></span>XXXX{{haoma}}<span style="margin-left:120px;color:red;font-weight:bold;">{{timeLotteryOdds_1}}</span></td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="5" style="text-align:center;height:50px;">
                            金额：
                            <!-- (change)='betOneChange()' -->
                            <input id="betOne" type="text" value="1" size="12" style="text-align:center;margin-right:10px;" />
                            <!-- 支付密码：
                            <input id="payPwdOne" type="password" size="12" style="text-align:center;" /> -->
                            <button (click) = "bettingOneSubmit()">确定</button>
                            <button (click)="bettingCacle()">取消</button>
                          </td>
                      </tr>
                  </tfoot>
            </table>
        </div>

        <!-- 二定字页面 -->
        <div class="content-tab_3">
            <table class="touzhu_table">
                  <thead>
                      <tr>
                          <th colspan="10" style="text-align:left">
                              <span class="category_type" isClick='1' style="margin-left:20px;text-decoration:underline;color:red;cursor:pointer;" (click)="categoryClick($event,0)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>口口XXX</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,1)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>口X口XX</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,2)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>口XX口X</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,3)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>口XXX口</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,4)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>X口口XX</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,5)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>X口X口X</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,6)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>X口XX口</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,7)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>XX口口X</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,8)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>XX口X口</span>
                              <span class="category_type" isClick='1' style="margin-left:20px;cursor:pointer;" (click)="categoryClick($event,9)" (mouseover)='categoryOver($event)' (mouseout)='categoryOut($event)'>XXX口口</span>
                          </th>
                      </tr>
                      <tr>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                          <th><span style="margin-left:6px;font-weight:bold;">号码</span><span style="margin-left:50px;color:red;font-weight:bold;">赔率</span></th>
                      </tr>
                  </thead>
                  <tbody class="tbody_category">
                      <tr class="category_0" style="cursor:pointer;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,0,1,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>{{i}}{{j}}XXX<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_1" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,0,2,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>{{i}}X{{j}}XX<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_2" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,0,3,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>{{i}}XX{{j}}X<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_3" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,0,4,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>{{i}}XXX{{j}}<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_4" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,1,2,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>X{{i}}{{j}}XX<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_5" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,1,3,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>X{{i}}X{{j}}X<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_6" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,1,4,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>X{{i}}XX{{j}}<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_7" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,2,3,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>XX{{i}}{{j}}X<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_8" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,2,4,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>XX{{i}}X{{j}}<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>

                      <tr class="category_9" style="cursor:pointer;display:none;" *ngFor="let haoma of haomas; let i = index">
                          <td *ngFor="let haoma of haomas; let j = index" flag="1" (click)="betTimeLotteryTwo($event,3,4,i,j)" style="font-weight:bold;"><span style="margin-left:10px;"></span>XXX{{i}}{{j}}<span style="margin-left:40px;color:red;">{{timeLotteryOdds_2}}</span></td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="10" style="text-align:center;height:50px;">
                            金额：
                            <input id="betTwo" type="text" value="1" size="12" style="text-align:center;margin-right:10px;" />
                            <!-- 支付密码：
                            <input id="payPwdTwo" type="password" size="12" style="text-align:center;" /> -->
                            <button (click)="bettingTwoSubmit()">确定</button>
                            <button (click)="bettingCacle()">取消</button>
                          </td>
                      </tr>
                  </tfoot>
            </table>
        </div>

        <!-- 快打页面 -->
        <div class="content-tab_4">
            <table class="touzhu_table">
                  <thead>
                      <tr>
                          <th colspan="10" style="text-align:center;background-color:#1595C7;">下注框</th>
                      </tr>
                      <!-- <tr>
                          <th>彩种</th>
                          <th>注单编号</th>
                          <th>号码</th>
                          <th>赔率</th>
                          <th>金额</th>
                          <th>状态</th>
                          <th>退码</th>
                      </tr> -->
                      <tr>
                          <th>一字定规则</th>
                          <th>口XXXX</th>
                          <th>X口XXX</th>
                          <th>XX口XX</th>
                          <th>XXX口X</th>
                          <th>XXXX口</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                      <tr>
                          <th>二字定规则</th>
                          <th>口X口XX</th>
                          <th>口XX口X</th>
                          <th>口XXX口</th>
                          <th>X口口XX</th>
                          <th>X口X口X</th>
                          <th>X口XX口</th>
                          <th>XX口口X</th>
                          <th>XX口X口</th>
                          <th>XXX口口</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- <tr style="cursor:pointer;" (mouseover)='quickPlayOver($event)' (mouseout)='quickPlayOut($event)'>
                          <td>一字定</td>
                          <td>201802281433</td>
                          <td>XXX2X</td>
                          <td>9.95</td>
                          <td>100</td>
                          <td>已投注</td>
                          <td><button>退码</button></td>
                      </tr> -->
                  </tbody>
                  <tfoot>
                      <tr>
                          <th colspan="10" style="text-align:left;background-color:#1595C7;">
                              <span style="color:#efe90f;"><marquee width="1500">未来的亿万富翁，请您根据以上规则进行快打投注！！！</marquee></span>
                          </th>
                      </tr>
                      <tr>
                          <td colspan="10" style="text-align:center;height:50px;">
                              号码：<input type="text" id="quickPlayBetNum" size="12" placeholder="1XXXX" style="text-align:center;margin-right:10px;" />
                              金额：<input type="text" id="quickPlayBetMoney" value="1" size="12" style="text-align:center;margin-right:10px;" />
                              <!-- 支付密码：
                              <input id="payPwdQuickPlay" type="password" size="12" style="text-align:center;" /> -->
                              <button (click) = "quickPlaySubmit()">确认下注</button>
                          </td>
                      </tr>
                  </tfoot>
            </table>
        </div>

        <!-- 规则页面 -->
        <div class="content-tab_5">
            <table class="touzhu_table">
                  <tr>
                      <td style="font-size:22px;font-weight:bold;padding-left:20px;color:red;">一字定规则</td>
                  </tr>
                  <tr>
                      <td style="padding-left:60px;">① 万、千、百、十、个，五个位，最多选取3个进行投注</td>
                  </tr>
                  <tr>
                      <td style="padding-left:60px;">② 万、千、百、十、个，五个位，选中某个位后，该位最多从[0-9]10个数中，选取3个数进行下注</td>
                  </tr>
                  <tr>
                      <td style="padding-left:60px;">③ 单注下注注数最多500注</td>
                  </tr>

                  <tr>
                      <td style="font-size:22px;font-weight:bold;padding-left:20px;color:red;">二字定规则</td>
                  </tr>
                  <tr>
                      <td style="padding-left:60px;">① 万、千、百、十、个，五个位，最多选取3个位进行两两组合，形成类似：万千、万百、千百的组合投注</td>
                  </tr>
                  <tr>
                      <td style="padding-left:60px;">② 万、千、百、十、个，五个位，选中某两个位组合后，该位最多从该组合的100种方式中，选取30种进行下注</td>
                  </tr>
                  <tr>
                      <td style="padding-left:60px;">③ 单注下注注数最多500注</td>
                  </tr>
            </table>
        </div>

    </div>
  </div>


  <div id="editPanel" class="form-horizontal">
    <!--数据显示区域-->
    <div class="table-box">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="active">
                    <td colspan="10" style="background-color:#1595C7;">
                      <span style="color:#e6e643;">笔数：{{sumNumber}}</span>
                      <span style="color:#e6e643;margin-left:30px;">总金额：{{sumMoney}}</span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bettingPrompt_list; let i = index">
                    <td *ngFor="let row of item; let j = index">{{row}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

</div>

<!-- 静止投注模糊层 -->
<div class="bet_vague">
    <div class="prompt">当前没有开盘</div>
    <div class="flag"></div>
</div>
