.bg_personalSettings{
    position: absolute;
    left: 0;
    top:0;
    overflow: auto;
    width:1700px;
    height:800px;
    z-index: 1;
    padding: 20px;
    //background-image: url("/assets/img/bg.png");
    background-repeat:no-repeat;
}

.content-div_personalSettings{
    clear: both;
    //float: left;
    width:1450px;
    height:600px;

    .content-tab_1{
        margin-top:50px;
        .content-tab_1_1{
          width:120px;
          height:30px;
          float: left;
          line-height:30px;
          text-align: center;
          color: white;
          font-weight: bold;
          display: inline-block;
          background-color: #148ee2;
          cursor: pointer;
        }
        .content-tab_1_2{
          width:120px;
          height:30px;
          float: left;
          line-height:30px;
          text-align: center;
          color: white;
          font-weight: bold;
          display: inline-block;
          background-color:#A7D6CD;
          cursor: pointer;
        }
        .content-tab_1_3{
          width:120px;
          height:30px;
          float: left;
          line-height:30px;
          text-align: center;
          color: white;
          font-weight: bold;
          display: inline-block;
          background-color: #A7D6CD;
          cursor: pointer;
        }
        hr{
          width:1450px;
          margin-top:20px;
          //border:0.5px solid black;
        }
    }

    .content-tab_2{
        width:700px;
        margin-top:-30px;
        margin-left:-52%;
    }

    .content-tab_3{
        width:700px;
        margin-top:-30px;
        margin-left:-52%;
        display: none;
    }

    .content-tab_4{
        margin-top:-20px;
        display: none;
        .touzhu_table{
          color: black;
          border: 1px solid black;
          th{
            width:300px;
            height:40px;
            border:1px solid black;
            text-align: center;
            background-color: #FFFFC4;
            border-right:2px solid black;
          }
          td{
            height:40px;
            border:1px solid black;
            border-right:2px solid black;
            text-align: center;
          }
        }
    }

    .addBankCard{
        clear: both;
        display: none;
        .flag{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index:102;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.3);
        }

        .closeGame{
            position: absolute;
            top: 5px;
            left:92%;
            z-index:104;
            cursor: pointer;
        }

        .withdrawals{
            position: fixed;
            top: 150px;
            left: 40%;
            z-index:103;
            width: 550px;
            height:500px;
            //display: none;
            border: 1px solid green;
            background-color: #e8e7e1;
            .withdrawals_1{
                margin-top:10%;
                margin-left:2%;
                width:500px;
                height: 550px;
            }
        }
    }
}
