.bg_reportForm{
    position: absolute;
    left: 0;
    top:0;
    overflow: auto;
    width:1700px;
    height:800px;
    z-index: 1;
    padding: 20px;
    //background-image: url("/assets/img/bg.png");
    background-repeat:no-repeat;
}

.content-div_reportForm{
    clear: both;
    //float: left;
    width:1450px;
    height:600px;

    .content-tab_1{
        margin-top:50px;
        .content-tab_1_1{
          width:70px;
          height:30px;
          float: left;
          line-height:30px;
          text-align: center;
          color: white;
          font-weight: bold;
          display: inline-block;
          background-color: #148ee2;
          cursor: pointer;
        }
        .content-tab_1_2{
          width:70px;
          height:30px;
          float: left;
          line-height:30px;
          text-align: center;
          color: white;
          font-weight: bold;
          display: inline-block;
          background-color:#A7D6CD;
          cursor: pointer;
        }
        .content-tab_1_3{
          width:70px;
          height:30px;
          float: left;
          line-height:30px;
          text-align: center;
          color: white;
          font-weight: bold;
          display: inline-block;
          background-color: #A7D6CD;
          cursor: pointer;
        }
        hr{
          width:1450px;
          margin-top:20px;
          //border:0.5px solid black;
        }
    }

    .content-tab_2{
        margin-top:-20px;
        .touzhu_table{
          color: black;
          border: 1px solid black;
          th{
            width:500px;
            height:40px;
            border:1px solid black;
            text-align: center;
            background-color: #FFFFC4;
            border-right:2px solid black;
          }
          td{
            height:40px;
            border:1px solid black;
            border-right:2px solid black;
            text-align: center;
          }
        }
    }

    .content-tab_3{
        margin-top:-20px;
        display: none;
        .touzhu_table{
          color: black;
          border: 1px solid black;
          th{
            width:500px;
            height:40px;
            border:1px solid black;
            text-align: center;
            background-color: #FFFFC4;
            border-right:2px solid black;
          }
          td{
            height:40px;
            border:1px solid black;
            border-right:2px solid black;
            text-align: center;
          }
        }
    }

    .content-tab_4{
        margin-top:-20px;
        display: none;
        .touzhu_table{
          color: black;
          border: 1px solid black;
          th{
            width:500px;
            height:40px;
            border:1px solid black;
            text-align: center;
            background-color: #FFFFC4;
            border-right:2px solid black;
          }
          td{
            height:40px;
            border:1px solid black;
            border-right:2px solid black;
            text-align: center;
          }
        }
    }
}
