
<!--搜索区域-->
<div class="search-box">
      游戏类型: <select [(ngModel)]="find.busnessType" style="width:100px;" (change)="loadDataOne()">
                    <option value="21">重庆时时彩</option>
                    <option value="31">北京塞车</option>
              </select>
    <!--   会员uid: <input [(ngModel)]="find.uid" />
      手机:<input [(ngModel)]="find.mobile"  style="width: 130px"/> -->
      开奖时间： <input [(ngModel)]="find.startTime" type="date" style="width:150px;"/> - <input [(ngModel)]="find.endTime" type="date" style="width:150px;" />
      <button type="button" class="btn btn-primary" (click)='loadDataOne()'>搜索</button>
</div>

<!--按钮区域-->
<!-- <div class="button-box text-right">

</div> -->

<!--数据显示区域-->
<!-- background-image: url('/assets/img/bg.png'); -->
<div style="width:100%;height:100%;">
    <div class="table-box" *ngIf="find.busnessType == 21">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="active">
                    <th>开奖时间</th>
                    <th>期号</th>
                    <th>万</th>
                    <th>千</th>
                    <th>百</th>
                    <th>十</th>
                    <th>个</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of httpService.items; let i = index">
                    <td>{{utils.formatDate(item.lotteryTime,'yyyy-MM-dd HH:mm:ss')}}</td>
                    <!-- <td >站位</td> -->
                    <td>{{item.issueNo}}</td>
                    <td>{{item.lotteryOne}}</td>
                    <td>{{item.lotteryTwo}}</td>
                    <td>{{item.lotteryThree}}</td>
                    <td>{{item.lotteryFour}}</td>
                    <td>{{item.lotteryFive}}</td>
                    <!-- <td>{{utils.formatDate(item.createTime,'yyyy-MM-dd HH:mm:ss')}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-box" *ngIf="find.busnessType == 31">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="active">
                    <th>开奖时间</th>
                    <th>期号</th>
                    <th>冠</th>
                    <th>亚</th>
                    <th>季</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                    <th>七</th>
                    <th>八</th>
                    <th>九</th>
                    <th>十</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of httpService.items; let i = index">
                    <td>{{utils.formatDate(item.lotteryTime,'yyyy-MM-dd HH:mm:ss')}}</td>
                    <!-- <td >站位</td> -->
                    <td>{{item.issueNo}}</td>
                    <td>{{item.lotteryOne+1}}</td>
                    <td>{{item.lotteryTwo+1}}</td>
                    <td>{{item.lotteryThree+1}}</td>
                    <td>{{item.lotteryFour+1}}</td>
                    <td>{{item.lotteryFive+1}}</td>
                    <td>{{item.lotterySix+1}}</td>
                    <td>{{item.lotterySeven+1}}</td>
                    <td>{{item.lotteryEight+1}}</td>
                    <td>{{item.lotteryNine+1}}</td>
                    <td>{{item.lotteryTen+1}}</td>
                    <!-- <td>{{utils.formatDate(item.createTime,'yyyy-MM-dd HH:mm:ss')}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>

    <!--分页区域-->
    <div class="pagination-box text-center">
        <ul class="pagination">
            <li [class]="httpService.currentPage==1?'active':''">
                <a href="javascript:;" (click)="httpService.toFirstPage()">首页</a>
            </li>
            <li [class]="httpService.currentPage==1?'disabled':''">
                <a href="javascript:;"  (click)="httpService.prev()">上一页</a>
            </li>
            <li class="disabled"><a href="javascript:;">第{{httpService.currentPage}}页 | 共{{httpService.totalPage}}页</a></li>
            <li [class]="httpService.currentPage==httpService.totalPage?'disabled':''">
                <a href="javascript:;" (click)="httpService.next()">下一页</a>
            </li>
            <li [class]="httpService.currentPage==httpService.totalPage?'active':''">
                <a href="javascript:;" (click)="httpService.toEndPage()">末页</a>
            </li>
        </ul>
    </div>
</div>
