
<!--搜索区域-->
<div class="search-box">
    id:<input [(ngModel)]="find.id"/>
    ico中文:<input [(ngModel)]="find.icoName"/>
    ico英文:<input [(ngModel)]="find.icoEgName"/>
    状态:
    <select [(ngModel)]="find.state">
        <option value="">全部</option>
        <option value="10">预热中</option>
        <option value="20">进行中，已售罄</option>
        <option value="30">已结束</option>
        <option value="40">已结束</option>
    </select>
    
    <button type="button" class="btn btn-primary" (click)='loadData()'>搜索</button>
</div>

<!--按钮区域-->
<div class="button-box text-right">
    <button type="button" class="btn btn-primary" (click)="showAddPanel()"><span class="fa fa-plus-circle"></span> 新增</button>
</div>

<!--数据显示区域-->
<div class="table-box">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th>Id</th>
                <th width="6%">ico简称</th>
                <th>ico中文</th>
                <th>ico英文</th>
                <th>每个ID限购数量</th>
                <th>最小限制数量</th>
                <th width="6%">释放比例</th>
                <th width="6%">发行总量</th>
                <th>已出售总量</th>
                <th>已释放总量</th>
                <th>接受币种类型</th>
                <th>兑换价格比例</th>
                <th width="4%">状态</th>
                <th width="6%">开始时间</th>
                <th width="6%">结束时间</th>

                <th width="6%">创建时间</th>
                
                <th width="6%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of httpService.items">
                <td>{{item.id}}</td>
                <td>{{item.icoShortName}}</td>
                <td>{{item.icoName}}</td>
                <td>{{item.icoEgName}}</td>
                <td>{{item.limitCount}}</td>
                <td>{{item.minCount}}</td>
                <td>{{item.releaseScale}}</td>
                <td>{{item.circulation}}</td>

                
                <td>{{item.sellCount}}</td>
                <td>{{item.releaseCount}}</td>
                <td>{{item.payCurrencyType}}</td>
                <td>{{item.sellScale}}</td>
                <th>{{item.state =='10'?"预热中":item.state =='20'?"进行中":item.state =='30'?"已结束":item.state =='30'?"已删除":""}}</th> 
                <td>{{utils.formatDate(item.startTime,'yyyy-MM-dd HH:mm:ss')}}</td>
                <td>{{utils.formatDate(item.endTime,'yyyy-MM-dd HH:mm:ss')}}</td>
                <td>{{utils.formatDate(item.createTime,'yyyy-MM-dd HH:mm:ss')}}</td>
              
                <td>
                    
                    <button type="button" (click)="showEditPanel(item)" class="btn btn-primary btn-xs">修改</button>
                    <button type="button" (click)="deleteItem(item)" class="btn btn-danger btn-xs">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--分页区域-->
<div class="pagination-box text-center">
    <ul class="pagination">
        <li [class]="httpService.currentPage==1?'active':''">
            <a href="javascript:;" (click)="httpService.toFirstPage()">首页</a>
        </li>
        <li [class]="httpService.currentPage==1?'disabled':''">
            <a href="javascript:;"  (click)="httpService.prev()">上一页</a>
        </li>
        <li class="disabled"><a href="javascript:;">第{{httpService.currentPage}}页 | 共{{httpService.totalPage}}页</a></li>
        <li [class]="httpService.currentPage==httpService.totalPage?'disabled':''">
            <a href="javascript:;" (click)="httpService.next()">下一页</a>
        </li>
        <li [class]="httpService.currentPage==httpService.totalPage?'active':''">
            <a href="javascript:;" (click)="httpService.toEndPage()">末页</a>
        </li>
    </ul>
</div>

<!--新增页面-->
<div id="editPanel" class="form-horizontal" >


    <div class="form-group">
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;上传图片</label>
        <div class="col-sm-3">
            <img id="1_img" style="width: 100px;height: 100px" />
            <input type="file" id="1_file" (change)="changeImg('1')" value="上传" style="width: 75px" />
            
        </div>
        
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;Ico中文</label>
        <div class="col-sm-3">
            
            <input type="text"  class="form-control" id="icoName"  [(ngModel)]="subData.icoName" placeholder="请输入Ico中文"/>
            
        </div>
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;Ico英文</label>
        <div class="col-sm-3">
            <input type="text"  class="form-control" id="icoEgName" [(ngModel)]="subData.icoEgName" placeholder="请输入Ico中文"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;Ico简称</label>
        <div class="col-sm-3">
            
            <input type="text"  class="form-control" id="icoShortName"  [(ngModel)]="subData.icoShortName" placeholder="请输入Ico简称"/>
            
        </div>


        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;Ico对应币种</label>
        <div class="col-sm-3">
            <select  [(ngModel)]="subData.currencyId" id='currencyId'  class="form-control" >
                <option  value="">全部</option>
                <option  *ngFor="let b of currencyTypes" value="{{b.id}}">{{b.currencyName}}</option>
             </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;ID限制数量</label>
        <div class="col-sm-3">
            
            <input type="text"  class="form-control" id="limitCount"  [(ngModel)]="subData.limitCount" placeholder="请输入ID限制数量"/>
            
        </div>
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;最小购买数量</label>
        <div class="col-sm-3">
            <input type="text"  class="form-control" id="minCount" [(ngModel)]="subData.minCount" placeholder="请输入最小购买数量"/>
        </div>
    </div>


     <div class="form-group">
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;释放比例</label>
        <div class="col-sm-3">
            
            <input type="text"  class="form-control" id="releaseScale"  [(ngModel)]="subData.releaseScale" placeholder="请输入释放比例"/>
            
        </div>
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;兑换价格比例</label>
        <div class="col-sm-3">
            <input type="text"  class="form-control" id="sellScale" [(ngModel)]="subData.sellScale" placeholder="请输入兑换价格比例"/>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;发行总量</label>
        <div class="col-sm-3">
            
            <input type="text"  class="form-control" id="circulation"  [(ngModel)]="subData.circulation" placeholder="请输入发行总量"/>
            
        </div>
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;已出售总量</label>
        <div class="col-sm-3">
            <input type="text"  class="form-control" id="sellCount" [(ngModel)]="subData.sellCount" placeholder="请输入已出售总量"/>
        </div>
    </div>


     <div class="form-group">
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;接受币种类型</label>
        <div class="col-sm-3">
            
            <select [(ngModel)]="subData.currencyType" id="currencyType" class="form-control" placeholder="请选择币种类型">
                <option value="" >请选择</option>
                <option value="10" selected="selected">余额</option>
                <option value="40">速通宝</option>
            </select>
            
        </div>
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;状态</label>
        <div class="col-sm-3">
            <select [(ngModel)]="subData.state" id='state11' class="form-control" placeholder="请选择状态">
                <option value="" >请选择</option>
                <option value="10" selected="selected">预热中</option>
                <option value="20">进行中</option>
                <option value="30">已结束</option>
                <option value="40">已删除</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;开始时间</label>
        <div class="col-sm-3">
            
            <input type="date"  class="form-control" id="startTime"  [(ngModel)]="subData.startTime" placeholder="请选择开始时间"/>
            
        </div>
        <label class="col-sm-3 control-label"><span class="text-danger">*</span>&nbsp;结束时间</label>
        <div class="col-sm-3">
            <input type="date"  class="form-control" id="endTime" [(ngModel)]="subData.endTime" placeholder="请选择结束时间"/>
        </div>
    </div>


    
    
    <div class="form-group">
        <label class="col-sm-3 control-label">&nbsp;备注</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="remark" [(ngModel)]="subData.remark" placeholder="请输入备注"/>
        </div>
    </div>
</div>
