
.leftPanel{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    width: 200px;
    z-index: 99;
    overflow: hidden;
    background-image: url("/assets/img/leftPanel.png");
    background-repeat:no-repeat;
    background-size:200px 1180px;
    border-right: 1px solid #e5e5e5;
    padding-left:23px;

    .leftPanel_0{
        width: 200px;
        height: 150px;
        text-align: center;
        background-image: url("/assets/img/logo.png");
        background-repeat:no-repeat;
    }

    .leftPanel_1{
        width: 90%;
        height: 50px;
        color: white;
        font-weight: bold;
        font-size:18px;
        font-family: cursive;
        background-size:150px 46px;
        text-align: center;
        line-height: 40px;
        background-image: url("/assets/img/gameList.png");
        background-repeat:no-repeat;
    }

    .leftPanel_2,.leftPanel_3,.leftPanel_4,.leftPanel_5,.leftPanel_6,.leftPanel_7,.leftPanel_8{
      margin-top:30px;
      width: 90%;
      height: 50px;
      font-weight: bold;
      font-size:16px;
      font-family: cursive;
      cursor:pointer;
      background-size:150px 46px;
      text-align: center;
      line-height: 35px;
      background-image: url("/assets/img/daohangweidianjian.png");
      background-repeat:no-repeat;
    }

    .w2{
      color:yellow;
      background-image: url("/assets/img/daohangdianjian.png");
      background-repeat:no-repeat;
    }

}

.rightpanel{
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 200px;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;

    .navTitle{
        padding: 0 5px;
        position: relative;
        z-index: 99;
        border-bottom: 1px solid #e5e5e5;
        line-height: 59px;
        height: 59px;
        overflow: hidden;
        background-image: url("/assets/img/topdaohang.png");
        background-repeat:no-repeat;
    }

    .articleWork{
        position: absolute;
        top: 54px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        z-index: 1;
        padding: 20px;
    }
}

.cashMoney{
    clear: both;
    display: none;
    .flag{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index:102;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
    }

    .closeGame{
        position: absolute;
        top: 5px;
        left:92%;
        z-index:104;
        cursor: pointer;
    }

    .recharge{
        position: fixed;
        top: 150px;
        left: 40%;
        z-index:103;
        width: 550px;
        height:400px;
        display: none;
        border: 1px solid green;
        background-color: #e6dee4;
        .recharge_1{
            width:500px;
            height: 400px;
            margin-top:8%;
            margin-left:4.5%;
            .qrcode{
                width:282px;
                height:282px;
                margin-left:22%;
                border: 1px solid black;
            }

            .qrcode_describe{
                margin-left:14%;
                margin-top:4%;
                color: red;
            }
        }
    }

    .withdrawals{
        position: fixed;
        top: 150px;
        left: 40%;
        z-index:103;
        width: 550px;
        height:450px;
        display: none;
        border: 1px solid green;
        background-color: #eae1e7;
        .withdrawals_1{
            margin-top:10%;
            margin-left:4.5%;
            width:500px;
            height: 550px;
        }
    }
}
